@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Inter, sans-serif;
  --font-mono: Menlo, Monaco, 'Courier New', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9834 0.0042 236.4956);
  --foreground: oklch(0.2433 0.0247 263.9506);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2433 0.0247 263.9506);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2433 0.0247 263.9506);
  --primary: oklch(0.5598 0.1882 266.3996);
  --primary-foreground: oklch(0.9834 0.0042 236.4956);
  --secondary: oklch(0.9288 0.0126 255.5078);
  --secondary-foreground: oklch(0.2433 0.0247 263.9506);
  --muted: oklch(0.9683 0.0069 247.8956);
  --muted-foreground: oklch(0.5956 0.0381 257.8663);
  --accent: oklch(0.9588 0.0086 247.9151);
  --accent-foreground: oklch(0.2433 0.0247 263.9506);
  --destructive: oklch(0.6137 0.2039 25.5645);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(0.9288 0.0126 255.5078);
  --ring: oklch(0.5598 0.1882 266.3996);
  --chart-1: oklch(0.6626 0.1358 246.8090);
  --chart-2: oklch(0.7244 0.1534 56.0722);
  --chart-3: oklch(0.7096 0.1434 154.5316);
  --chart-4: oklch(0.6637 0.1634 296.9628);
  --chart-5: oklch(0.6882 0.1776 22.9460);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2433 0.0247 263.9506);
  --sidebar-primary: oklch(0.5598 0.1882 266.3996);
  --sidebar-primary-foreground: oklch(0.9834 0.0042 236.4956);
  --sidebar-accent: oklch(0.9588 0.0086 247.9151);
  --sidebar-accent-foreground: oklch(0.2433 0.0247 263.9506);
  --sidebar-border: oklch(0.9288 0.0126 255.5078);
  --sidebar-ring: oklch(0.5598 0.1882 266.3996);
  --destructive-foreground: oklch(0.9834 0.0042 236.4956);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: Menlo, Monaco, 'Courier New', monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.05;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0rem;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0rem;
}

.dark {
  --background: oklch(0.1822 0 0);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.2433 0.0247 263.9506);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.2433 0.0247 263.9506);
  --popover-foreground: oklch(0.9288 0.0126 255.5078);
  --primary: oklch(0.5598 0.1882 266.3996);
  --primary-foreground: oklch(0.9834 0.0042 236.4956);
  --secondary: oklch(0.3351 0.0331 260.9120);
  --secondary-foreground: oklch(0.9834 0.0042 236.4956);
  --muted: oklch(0.3351 0.0331 260.9120);
  --muted-foreground: oklch(0.7457 0.0304 254.7208);
  --accent: oklch(0.4474 0.0343 261.3244);
  --accent-foreground: oklch(0.9834 0.0042 236.4956);
  --destructive: oklch(0.6137 0.2039 25.5645);
  --border: oklch(0.3351 0.0331 260.9120);
  --input: oklch(0.3351 0.0331 260.9120);
  --ring: oklch(0.5598 0.1882 266.3996);
  --chart-1: oklch(0.6626 0.1358 246.8090);
  --chart-2: oklch(0.7244 0.1534 56.0722);
  --chart-3: oklch(0.7096 0.1434 154.5316);
  --chart-4: oklch(0.6637 0.1634 296.9628);
  --chart-5: oklch(0.6882 0.1776 22.9460);
  --sidebar: oklch(0.2433 0.0247 263.9506);
  --sidebar-foreground: oklch(0.9288 0.0126 255.5078);
  --sidebar-primary: oklch(0.5598 0.1882 266.3996);
  --sidebar-primary-foreground: oklch(0.9834 0.0042 236.4956);
  --sidebar-accent: oklch(0.4474 0.0343 261.3244);
  --sidebar-accent-foreground: oklch(0.9834 0.0042 236.4956);
  --sidebar-border: oklch(0.3351 0.0331 260.9120);
  --sidebar-ring: oklch(0.5598 0.1882 266.3996);
  --destructive-foreground: oklch(0.9834 0.0042 236.4956);
  --radius: 0.5rem;
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: Menlo, Monaco, 'Courier New', monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.1;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0rem;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
